.wrapper{
  display: grid;
  grid-template-rows: 100px 50px 1fr;
  grid-template-columns: repeat(8,0.0625fr) 0.025fr 0.475fr;
  grid-template-areas:
  "header header header header header header header header header header"
  "label toggle button . . . . . . ."
  "bubble bubble bubble bubble bubble bubble bubble bubble . table";
  column-gap: 12px;
  row-gap: 12px;
}
#header-wrap{
  grid-area: header;
  justify-self: start;
  align-self: start;
}
table {
    border-collapse: collapse;
    font: 14px sans-serif;
    white-space: nowrap;
}
.table-div{
    grid-area: table;
}
#bubble-chart{
    grid-area: bubble;
}

#toggle-switch{
    grid-area: toggle;
    justify-self: start;
    align-self: center;
}
#toggle-label{
    grid-area: label;
    place-self: center;
}
#extremes-button{
    grid-area: button;
    place-self: center;
}
#toggle-label h2{
  font: 12px sans-serif;
  font-weight: normal;
  white-space: nowrap;
}

th {
    font-weight: bold;
    text-align: center;
    padding-right: 6px;
    min-width: 75px;
    max-height: min-content;
    background-color: lightskyblue;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.header-row{
  background-color: lightskyblue;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
td:first-of-type {
    text-align: left;
    max-width: max-content;
}

td {
    text-align: center;
    max-width: 150px;
}

td:last-of-type
{
    text-align: center;
}
tr{
  max-height: min-content;
}

.sorting {
    background: black;
    color: white;
}

.sortable {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
}

.dem{
  fill: steelblue;
  stroke: white;
}
.bubbles.dem{
  fill: steelblue;
  stroke: black;
}
.rep{
  fill: firebrick;
  stroke: white;
}
.bubbles.rep{
  fill: firebrick;
  stroke: black;
}
.chart-label{
  fill: rgb(88, 88, 88);
}
.no-select{
  fill: gray;
  stroke: darkgray;
  opacity: 0.5;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.leaning-label{
  font: 16px sans-serif;
  font-weight: bold;
}
.midline{
  fill: rgb(88, 88, 88);
}

.prior{
  opacity: 0;
  transition: opacity 750ms;
}

.extremes-label{
  position: absolute;
  opacity: 1;
  min-width: 100px;
  max-height: 100px;
  padding: 2px;
  border-radius: 8px;
  text-align: center;
}
.dem.extremes-label{
  background-color: lightblue;
  border: 2px solid steelblue;
}
.rep.extremes-label{
  background-color: lightcoral;
  border: 2px solid firebrick;
}
.extremes-label h2{
  margin: auto;
  font: 14px sans-serif;
  font-weight: bold;
}
.extremes-label p{
  margin: auto;
  font: 14px sans-serif;
}

.hidden{
  opacity: 0.3;
}

div.tooltip {
  position: absolute;
  text-align: center;
  min-width: 60px;
  height: 50px;
  padding: 2px;
  background: white;
  stroke: gray;
  border-radius: 8px;
  pointer-events: none;
}
.tooltip h2 {
  margin: auto;
  font: 16px sans-serif;
}
.tooltip p {
  margin: auto;
  font: 12px sans-serif;
}
.hover{
  fill: fuchsia;
  stroke-width: 3px;
}


/* switch styling */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
